* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "TT Lakes";
    src: local("TTLakes-Regular"), 
         url("/fonts/TTLakes-Regular.woff");
}
  
body {
    font-family: TT lakes, sans-serif;
}

    /* ---Header--- */
.header {
    margin: 0 auto;
    min-width: 320px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__wrapper {
    position: relative;
    padding: 1.1rem 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #D9FFF5;
}

.header__title-wrapper {
    display: flex;

    padding: 1.55rem 0 0 1rem;
    align-items: end;
    justify-content: space-between;
    background-color: #F8F8F8;
}

.header__wrapper::before {
    content: "";
    width: 0.125rem;
    height: 2rem;
    background-color: #EAEAEA;
    border-radius: 1rem;
    position: absolute;
    left: 11.6rem;
}

.header__title {
    position: relative;
    font-size: 28px;
    color: #1B1C21;
    background-color: #F8F8F8;
}

.header__title::before {
    content: "";
    width: 0.25rem;
    height: 2.5rem;
    background-color: #41F6D7;
    border-radius: 0 0.5rem 0.5rem 0;
    position: absolute;
    left: -1rem;
}


/* ---main-menu--- */
.main-menu {
    display: flex;
    gap: 2.6rem;
}

.main-menu--desctop {
    display: none;
}

.main-menu--mr--auto {
    margin-left: auto;
}

.main-menu__list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.main-menu__list--768px {
    display: none;
}

.main-menu__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color:#1B1C21;
    gap: 0.5rem;
}


/* ---menu-button--- */
.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background-color: #FF3E79;
    cursor: pointer;    
    outline-color: #41F6D7;
}

.menu-button__desctop {
    justify-content: space-between;
    width: auto;
    height: auto;
    background-color:  #F8F8F8;
    border-radius: 0;
    font-family: TT lakes, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    gap: 0.17rem;
}

.menu-button__image {
    max-width: 100%;
    height: auto;
    padding: 0.3rem;
}

.menu-button:active {
    transform: scale(0.97);
    transition: 200ms all;
}


/* ---Nav-menu--- */
.nav-menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: scroll; 
    list-style: none;
}

.nav-menu__item {
    display: flex;
    align-items: center;
}

.nav-menu__item--active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
}

.nav-menu__link {
    display: block;
    padding: 0.45rem 1rem;
    text-decoration: none;
    color: #7E7E82;
    font-size: 16px;
    letter-spacing: -0.2px;
    white-space: nowrap;
    outline-color: #41F6D7;
}


/* ---Main--- */
.main {
    margin: 0 auto;
    padding: 0  1rem;
    min-width: 320px;
    max-width: 320px;
    background-color: #F8F8F8;
}

.main__nav {
    padding-top: 1.55rem;
    background-color: #F8F8F8;
}

.main__content-wrapper {
    display: flex;
    flex-direction: column;
}

.main__content {
    padding-top: 1.55rem;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.main__button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: #F8F8F8;
    font-size: 16px;
    padding-top: 1rem;
    letter-spacing: -0.2px;
    cursor: pointer;
    outline-color: #41F6D7;
}

.main__image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}


/* ---Footer--- */
.footer {
    margin: 0 auto;
    min-height: 2rem;
    background-color: #F8F8F8; 
    max-width: 320px;
}


/* ---768px---*/
@media (min-width: 768px) {
    .header {
        max-width: 768px;
    }

    .header__wrapper {
        padding: 1.1rem 1.5rem;
        gap: 2.55rem;
    }

    .header__wrapper::before {
        background-color: #EAEAEA;
        left: 5.3rem;
    }

    .header__wrapper::after {
        content: "";
        width: 0.125rem;
        height: 2rem;
        background-color: #EAEAEA;
        border-radius: 1rem;
        position: absolute;
        left: 39.1rem;
    }

    .header__title-wrapper {
        padding: 1.55rem 0 0 1.5rem;
    }

    .header__title::before {
        left: -1.5rem;  
    }

    .main-menu__list--768px {
        display: flex;
    }


    .main__nav {
        padding-top: 2rem;
    }

    .main {
        max-width: 768px;
        padding: 0  1.5rem;
    }
 
    .main__content-wrapper {
        flex-direction: row;
        padding-top: 2rem;
        justify-content: space-between;
    }

    .main__content {
        letter-spacing: 0.2px;
        padding-top: 0;
    }

    .main__image {
        padding-top: 0;
    }

    .footer {
        min-height: 2.5rem;
        max-width: 768px;
    }
}

/* ---1120px---*/
@media (min-width: 1120px) {
    .header {
        max-width: 1120px;
        background-color: #F8F8F8;
    }

    .main-menu--desctop {
        display: block;
    }

    .header__title-wrapper {
        padding: 2rem 2rem 0 2rem;
        align-items: end;
        justify-content: space-between;
    }

    .header__title::before {
        left: -2rem;  
    }

    .header__wrapper {
        display: none;
    }


    .main__nav {
        padding-top: 0.5rem;
    }

    .nav-menu {
        flex-wrap: wrap;
        overflow: auto; 
    }

    .nav-menu__item {
        margin-bottom: 0.5rem;
    }

    .main {
        max-width: 1120px;
        padding: 0  2rem;
    }
 
    .main__content-wrapper {
        padding-top: 0rem;
        gap: 1rem;
    }

    .main__image {
        padding-top: 0rem;
    }

    .footer {
        max-width: 1120px;
    }
}